# .gitignore
.vscode

build
log
install

resource
test
cmake
example
bags
# world
# maps
__pycache__

*.out
*.cfg
*.cmake.in
*.build
*-env
*.pdf
*.gv
*.log
*.png
*.mp3
*.mp4
.keep


CMakeFiles
cmake_install.cmake
Makefile
CMakeCache.txt

LICENSE

__init__.py

*/test1.4.4_cmake1/learn_cmake
*novel*txt
*/test2.4_workspace/src/demo_cpp_pkg/include/cpp-httplib
fishbot2.urdf.xacro

# yolo模型文件
*.onnx