# amcl会订阅map话题，先禁掉
# amcl:
#   ros__parameters:
#     use_sim_time: false

planner_server:
  ros__parameters:
    expected_planner_frequency: 1.0
    global_costmap:
      enabled: false
      plugin_names: []
      plugin_types: []

controller_server:
  ros__parameters:
    use_sim_time: false
    controller_frequency: 20.0
    use_velocity_scaled_lookahead_dist: false
    controller_plugins: ["FollowPath"]
    FollowPath:
      plugin: "dwb_core::DWBLocalPlanner"
      critics: [
        "RotateToGoal",
        "Oscillation",
        "ObstacleFootprint",
        "GoalAlign",
        "PathAlign",
        "PathDist",
        "GoalDist"
      ]

      RotateToGoal:
        scale: 32.0

      Oscillation:
        scale: 1.0

      ObstacleFootprint:
        scale: 0.01

      GoalAlign:
        scale: 24.0
        forward_point_distance: 0.325

      PathAlign:
        scale: 32.0
        forward_point_distance: 0.325

      PathDist:
        scale: 32.0

      GoalDist:
        scale: 24.0
    
global_costmap:
  ros__parameters:
    enabled: false
    # plugins:
    #   - obstacle_layer
    #   - inflation_layer
    # === 关键：显式声明插件名称和类型，禁止 static_layer ===
    plugin_names: []
    plugin_types: []


local_costmap:
  ros__parameters:
    global_frame: odom
    robot_base_frame: base_link
    rolling_window: true
    width: 20.0
    height: 20.0
    resolution: 0.2
    # 显式声明只使用这两个插件
    plugin_names: ["obstacle_layer", "inflation_layer"]
    plugin_types: ["nav2_costmap_2d::ObstacleLayer", "nav2_costmap_2d::InflationLayer"]

    # plugins:
    #   - obstacle_layer
    #   - inflation_layer

    obstacle_layer:
      plugin: "nav2_costmap_2d::ObstacleLayer"
      observation_sources: scan
      scan:
        topic: /scan
        data_type: LaserScan
        marking: true
        clearing: true

    inflation_layer:
      plugin: "nav2_costmap_2d::InflationLayer"
      inflation_radius: 0.8
