planner_server:
  ros__parameters:
    use_sim_time: false
    expected_planner_frequency: 1.0
    planner_plugins: ["GridBased"]

    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"
      tolerance: 0.5
      use_astar: false
      allow_unknown: true

    global_costmap:
      global_frame: odom
      robot_base_frame: base_link
      rolling_window: true
      width: 60.0
      height: 60.0
      resolution: 0.5

      plugin_names: ["obstacle_layer", "inflation_layer"]
      plugin_types:
        - "nav2_costmap_2d::ObstacleLayer"
        - "nav2_costmap_2d::InflationLayer"

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: scan
        scan:
          topic: /scan
          data_type: LaserScan
          marking: true
          clearing: true

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 1.0


controller_server:
  ros__parameters:
    use_sim_time: false
    controller_frequency: 10.0
    controller_plugins: ["FollowPath"]

    FollowPath:
      plugin: "dwb_core::DWBLocalPlanner"
      min_vel_x: 0.0
      max_vel_x: 1.0
      min_vel_theta: -0.6
      max_vel_theta: 0.6
      acc_lim_x: 0.5
      acc_lim_theta: 0.5

      critics:
        - RotateToGoal
        - ObstacleFootprint
        - GoalAlign
        - PathAlign
        - PathDist
        - GoalDist


local_costmap:
  ros__parameters:
    use_sim_time: false
    global_frame: odom
    robot_base_frame: base_link
    rolling_window: true
    width: 20.0
    height: 20.0
    resolution: 0.2

    plugin_names: ["obstacle_layer", "inflation_layer"]
    plugin_types:
      - "nav2_costmap_2d::ObstacleLayer"
      - "nav2_costmap_2d::InflationLayer"

    obstacle_layer:
      plugin: "nav2_costmap_2d::ObstacleLayer"
      observation_sources: scan
      scan:
        topic: /scan
        data_type: LaserScan
        marking: true
        clearing: true

    inflation_layer:
      plugin: "nav2_costmap_2d::InflationLayer"
      inflation_radius: 0.8


bt_navigator:
  ros__parameters:
    use_sim_time: false


behavior_server:
  ros__parameters:
    use_sim_time: false


waypoint_follower:
  ros__parameters:
    use_sim_time: false


velocity_smoother:
  ros__parameters:
    use_sim_time: false
